html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /* 1 rem = 10 px */  
    text-align: center; 
}
.titulo{
    font-size: 3.5rem;
    text-align: center;
    font-family: "Whisper", cursive;
    
    
}
span{
    color:darkslategray;
}